#define SECRET_SSID "Netowrk Name" // Name of the network your host computer is connected to
#define SECRET_PASSWORD "networkpassword" // Password of the network your host computer is connected to
#define LASTOCTET "123" // Last octet of your host computers local IPv4 address on its current network
#define SECRET_APIKEY "dN5s4huq3" // API key to post data defined by host computer in .env file